[Desktop Entry]
Encoding=UTF-8
Name=netbit
Comment=netbit P2P Cryptocurrency
Comment[fr]=netbit, monnaie virtuelle cryptographique pair à pair
Comment[tr]=netbit, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/netbit-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/netbit;
Categories=Office;
